/*body{
  text-align: center;
}*/
.barChart{
  border: 2px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.label{
  border-right: 2px solid black;
}
.bar{
  text-align: center;
}
.subTable{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.dataCell{
  width: 20%;
}
.yCell{
  border-right: 1px solid black;
  width: 1%;
}
.yTable{
  height: 100%;
}
.yAxis{
  vertical-align: text-top;
  text-align: right;
}
.xLabel{
  border-top: 1px solid black;
  height: 80px;

}
p{
  word-break: break-all;
}
#title{
  text-align: center;
}
h2{
  text-align: center;
}
button{
  margin-right: 2em;
  margin-left: 2em;
}
.newTable{
  width: 100%;
  height: 100%;
}
#customize{
  border-top: 2px dashed black;
  padding-top: 1em;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
.stackTable{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
.colourCell{
  width: 25%;
  text-align: center;
}
.catCell{
  width: 75%;
  text-align: center;
}
.labelHeader{
  text-align: center;
}
