#graph {
  display: block;
  padding: 5px;
}

.bars {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 200;
}

.bar {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0;
}

.container {
  margin-top: auto;
  margin-bottom: 0;
  text-align: center;
}

.xLabels {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

p {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.title {
  text-align: center;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.xAxisLabel {
  text-align: center;
  margin: 0;
  padding-top: 5px;
}

.yAxisLabel {
  max-width: 5%;
  margin: auto;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.flex-container {
  display: flex;
  /* height: 100%; */
  margin: 0;
}

.flex-container .column-left {
  flex: 5%;
}

.flex-container .column-right {
  flex: 95%;
}
#flexCont2 {
  display: inline-block;
}
