
#samples-container {
  display: grid;
  grid-template-columns: auto auto;
}

.section-info, .section-chart {
  align-items: center;
  justify-items: center;
  /* border: 1px solid red; */
}

.section-chart {
  padding-top: 3em;
}
